
html,
body {
  max-width: 100vw;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#root{
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70%;
  width: 55%;
  margin: auto;
  padding-top: 20px;
}

.logo{
  margin-bottom: 20px;
}

.error-msg-container{
  background-color: rgb(255, 166, 166);
  padding: 7 13;
  border-radius: 10;
  margin-top: 15;
}

.error-msg-container .error-msg-txt{
  font-size: 14;
}
